/*==== GOOGLE FONTS ====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }

  body{
    font-family: 'Poppins', sans-serif;
  }

/* ===== HEADER ===== */
.top-header{
    background-color: aqua;
}


/* ===== NAV ===== */
.nav-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    margin: 1rem;
    text-decoration: none;
}

.nav-menu{
    background-color: red;
    display: flex;
    flex-direction: row;
    width: auto;
}

.nav-list{
    display: flex;
    width: auto;
}

.nav-list-item{
    margin: 1rem;
    list-style: none;
}

.nav-list-item-link{
    text-decoration: none;
}